.reset-password-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background: linear-gradient(180deg, #f2dcd0, #fff);
  box-shadow: 0 3px 6px rgba(94, 55, 68, 0.38);
  width: 360px;
  height: 231px;
}
.forgot-password {
  top: 150px;
  left: 89px;
  font-size: var(--font-size-3xl);
  text-align: center;
}
.dont-worry-it,
.forgot-password,
.reset-password1 {
  position: absolute;
  letter-spacing: 0.02px;
}
.dont-worry-it {
  top: 187px;
  left: 101px;
  text-align: center;
}
.reset-password1 {
  top: calc(50% - 9.5px);
  left: calc(50% - 51px);
}
.reset-password-wrapper {
  position: absolute;
  bottom: 67px;
  left: 37px;
  border-radius: var(--br-9xl);
  background-color: var(--color-brown);
  width: 286px;
  height: 55px;
  text-align: center;
  color: var(--color-white);
}
.icon-ionic-ios-arrow-dropleft-4 {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 25px;
  height: 25px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
}

.icon-ionic-ios-arrow-dropleft-4:hover {
  transform: scale(1.1); 
}
.icon-ionic-ios-arrow-dropleft-4,
.nopath-copy-27 {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.nopath-copy-27 {
  top: 50px;
  left: 131px;
  width: 98px;
  height: 98px;
}
.group-child {
  position: absolute;
  width: calc(100% - 2px);
  right: 1px;
  bottom: 0;
  left: 1px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  height: 40px;
}
.enter-your-new,
.new-password {
  position: absolute;
  display: inline-block;
}
.new-password {
  width: 100.35%;
  top: 0;
  left: 0;
  letter-spacing: 0.02px;
  font-weight: 600;
}
.enter-your-new {
  width: 89.86%;
  top: 53.85%;
  left: 5.24%;
  font-size: var(--font-size-sm);
  letter-spacing: 0.01px;
  opacity: 0.6;
}
.rectangle-parent {
  position: absolute;
  top: 333px;
  left: 37px;
  width: 286px;
  height: 65px;
}
.confirm-password,
.reenter-your-new {
  position: absolute;
  display: inline-block;
}
.confirm-password {
  width: calc(100% + 1px);
  top: 0;
  left: 0;
  letter-spacing: 0.02px;
  font-weight: 600;
}
.reenter-your-new {
  width: calc(100% - 29px);
  top: calc(50% + 2.5px);
  left: 15px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.01px;
  opacity: 0.6;
}
.rectangle-group {
  position: absolute;
  top: 410px;
  left: 37px;
  width: 286px;
  height: 65px;
}
.create-new-password,
.your-new-password {
  position: absolute;
  top: 263px;
  left: 37px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02px;
}
.your-new-password {
  top: 297px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01px;
  display: inline-block;
  width: 277px;
}
.reset-password {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 760px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-segoe-ui);
}
.icon-metro-cross,
.path-133-icon {
  position: absolute;
  object-fit: cover;
}
.path-133-icon {
  top: 0;
  left: 0;
  width: 360px;
  height: 760px;
  opacity: 0.59;
}
.icon-metro-cross {
  top: 12.65px;
  right: 13.46px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.icon-feather-check-circle1 {
  position: absolute;
  top: calc(50% - 109.99px);
  left: calc(50% - 42.5px);
  width: 95.81px;
  height: 93.84px;
  object-fit: cover;
}
.password-updated {
  position: absolute;
  top: calc(50% + 1.5px);
  left: 35px;
  letter-spacing: 0.02px;
}
.your-password-has {
  position: absolute;
  width: calc(100% - 74px);
  top: calc(50% + 33.5px);
  left: 37px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01px;
  display: inline-block;
}
.back-to-login {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 45px);
  letter-spacing: 0.02px;
}
.back-to-login-wrapper {
  position: absolute;
  width: calc(100% - 41px);
  right: 21px;
  bottom: 21px;
  left: 20px;
  border-radius: var(--br-9xl);
  background-color: var(--color-brown);
  height: 55px;
  cursor: pointer;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.icon-metro-cross-parent {
  position: absolute;
  top: 221px;
  right: 53px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 253px;
  height: 319px;
}
.reset-password-1 {
  position: relative;
  width: 360px;
  height: 760px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-segoe-ui);
}
