.icon-metro-cross,
.path-133-icon {
  position: absolute;
  object-fit: cover;
}
.path-133-icon {
  top: 0;
  left: 0;
  width: 360px;
  height: 760px;
  opacity: 0.59;
}
.icon-metro-cross {
  top: 12.65px;
  right: 13.46px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.icon-feather-check-circle1 {
  position: absolute;
  top: calc(50% - 109.99px);
  left: calc(50% - 42.5px);
  width: 95.81px;
  height: 93.84px;
  object-fit: cover;
}
.password-updated {
  position: absolute;
  top: calc(50% + 1.5px);
  left: 35px;
  letter-spacing: 0.02px;
}
.your-password-has {
  position: absolute;
  width: calc(100% - 74px);
  top: calc(50% + 33.5px);
  left: 37px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01px;
  display: inline-block;
}
.back-to-login {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 45px);
  letter-spacing: 0.02px;
}
.back-to-login-wrapper {
  position: absolute;
  width: calc(100% - 41px);
  right: 21px;
  bottom: 21px;
  left: 20px;
  border-radius: var(--br-9xl);
  background-color: var(--color-brown);
  height: 55px;
  cursor: pointer;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.icon-metro-cross-parent {
  position: absolute;
  top: 221px;
  right: 53px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 253px;
  height: 319px;
}
.reset-password-1 {
  position: relative;
  width: 360px;
  height: 760px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-segoe-ui);
}
